
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
</div>

<hr>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">所有类别</option>
                <option value="option2">IT业界</option>
                <option value="option3">数码产品</option>
                <option value="option3">笔记本电脑</option>
                <option value="option3">平板电脑</option>
                <option value="option3">只能手机</option>
                <option value="option3">超极本</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-scrollable-horizontal">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th class="am-hide-sm-only">等级</th>
                            <th>状态</th>
                            <th class="am-hide-sm-only">注册时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="UserInfoTBody"></tbody>
                </table>
            </div>
            <div class="am-cf">
                <div class="am-fr">
                    <ul id="pageBarUl" class="am-pagination"></ul>
                </div>
            </div>
            <hr />
        </form>
    </div>

</div>

<script>
    onload = function() {
        GetUserInfoList(1);
    };

    //获取数据
    GetUserInfoList = function(pageIndex) {
        $.post('@Url.Action("GetUserInfoList", "UserInfo")', { pageIndex: pageIndex }, function(data) {
            //遍历用户数据,为表格填充数据
            //填充前先清空之前的数据
            $("#UserInfoTBody").empty();
            $("#pageBarUl").empty();
            //开始遍历
            $.each(data.userInfoList, function(index, item) {
                $("#UserInfoTBody").append("<tr>" +
                    "<td><input type='checkbox'/></td>" +
                    "<td>" + item.Id + "</td><td>" +
                    "<a href='#'>" + item.UName + "</a></td>" +
                    "<td>" + item.UNickName + "</td>" +
                    "<td class='am-hide-sm-only'>" + item.ULevel + "</td>" +
                    "<td>" + item.Active + "</td>" +
                    "<td class='am-hide-sm-only'>" + ChangeDateFormat(item.URegTime) + "</td>" +
                    "<td><div class='am-btn-toolbar'><div class='am-btn-group am-btn-group-xs'> " +
                    "<button class='am-btn am-btn-default am-btn-xs am-text-secondary'><span class='am-icon-pencil-square-o'></span> 编辑</button> " +
                    "<button class='am-btn am-btn-default am-btn-xs am-hide-sm-only'><span class='am-icon-copy'></span> 复制</button>  " +
                    "<button class='am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only'><span class='am-icon-trash-o'></span> 删除</button></div></div></td></tr>");
            });
            //为分页UI填充数据
            $("#pageBarUl").append(data.pageBar);
            //为pageBarUl下的a标签注册点击事件
            $("#pageBarUl a").click(function () {
                //当前a标签 存在pageIndex属性的话
                if (typeof($(this).attr('pageIndex')) != "undefined") {
                    GetUserInfoList($(this).attr('pageIndex'));
                }
            });
        });
    };
</script>
