@using MyBlog.Model
<div class="am-u-md-4 blog-sidebar">

    <div class="am-panel-group">
        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#aboutMePanel'}">关于我<span style="float: right">▼</span></div>
            <div class="am-panel-bd" id="aboutMePanel">
                @{
                    //我的账号
                    UserInfo userInfo = (ViewBag.UserInfo as UserInfo);
                }
                <div class="am-g" style="text-align: center; font-size: 15px">
                    <div class="am-container">
                        <img src="@userInfo.UHeadPhoto" alt="..." class="am-close-spin am-img-thumbnail am-circle">
                    </div>
                    <div class="am-u-sm-12">
                        <br />
                        <p>出生在97年</p>
                        <p>喜欢:编程,动漫</p>
                        <p>联系方式:</p>
                        <p>QQ:1147865669</p>
                        <p>贴吧账号:萝渊</p>
                        <a class="am-btn am-btn-success am-btn-sm" href="@Url.Action("AboutMe", "Home")">查看更多 →</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#articleTypePanel'}">文章分类<span style="float: right">▼</span></div>
            <div class="am-panel-bd" id="articleTypePanel">
                <link href="~/Content/metroStyle/metroStyle.css" rel="stylesheet" />
                <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
                <ul id="articleTypeTree" class="ztree"></ul>
                <script>
                    var setting = {
                        data: {
                            simpleData: {
                                enable: true
                            }
                        },
                        callback: {
                            beforeClick: function(treeId, treeNode) {
                                if (treeNode.isParent) {
                                    return;
                                }
                                location.href = "@Url.Action("SearchArticle", "Home")?type=articletype&searchStr=" + treeNode.id + "&pageIndex=1";
                            }
                        }
                    };
                    var zNodes = @Html.Raw(ViewBag.zNodes);
                    $.fn.zTree.init($("#articleTypeTree"), setting, zNodes);
                </script>
            </div>
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#hotArticlePanel'}">热评文章<span style="float: right">▼</span></div>
            <!-- 多说热评文章 start -->
            <style>
                .ds-top-threads li {
                    list-style-type: none;
                }
            </style>
            <div class="am-panel-bd" id="hotArticlePanel">
                <div class="ds-top-threads" data-range="weekly" data-num-items="5"></div>
            </div>
            <!-- 多说热评文章 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = { short_name: "anneke" };
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#newCommentPanel'}">最新评论<span style="float: right">▼</span></div>
            <div class="am-panel-bd" id="newCommentPanel">
                <!-- 多说最新评论 start -->
                <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
                <!-- 多说最新评论 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "anneke" };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
        </section>


        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#visitorsPanel'}">这些人排着队来看过我的博客<span style="float: right">▼</span></div>
            <div class="am-panel-bd" id="visitorsPanel">
                <ul class="ds-recent-visitors" data-num-items="10"></ul>
                <!--多说js加载开始，一个页面只需要加载一次 -->
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "anneke" };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!--多说js加载结束，一个页面只需要加载一次 -->
            </div>
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd" data-am-collapse="{target: '#musicPanel'}">音乐<span style="float: right">▼</span></div>
            <div class="am-panel-bd" id="musicPanel">
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=110 src="http://music.163.com/outchain/player?type=0&id=430064970&auto=1&height=90"></iframe>
            </div>
        </section>
    </div>
</div>
<script>
    $(function () {
        $("div[class='am-panel-bd']").collapse('open');
    });
</script>