<div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">关于我</div>
            <div class="am-panel-bd">
                <p>
                    前所未有的中文云端字型服务，让您在 web 平台上自由使用高品质中文字体，跨平台、可搜寻，而且超美。云端字型是我们的事业，推广字型学知识是我们的志业。从字体出发，关心设计与我们的生活，justfont blog
                    正是為此而生。
                </p>
                <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a>
            </div>
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">热评文章</div>
            <!-- 多说热评文章 start -->
            <style>
                .ds-top-threads li {
                    list-style-type: none;
                    margin-left: 10px;
                }
            </style>
            <div class="ds-top-threads" data-range="weekly" data-num-items="5"></div>
            <!-- 多说热评文章 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = { short_name: "anneke" };
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript'; ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </section>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">最新评论</div>
            <div class="am-panel-bd">
                <!-- 多说最新评论 start -->
                <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
                <!-- 多说最新评论 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "anneke" };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
        </section>


        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">这些人排着队来看过我的博客</div>
            <div class="am-panel-bd">
                <ul class="ds-recent-visitors" data-num-items="10"></ul>
                <!--多说js加载开始，一个页面只需要加载一次 -->
                <script type="text/javascript">
                    var duoshuoQuery = { short_name: "anneke" };
                    (function () {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript'; ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!--多说js加载结束，一个页面只需要加载一次 -->
            </div>
        </section>
    </div>
</div>
