@using MyBlog.Model

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="am-u-md-8">
    <div id="articleInfoDiv">
    </div>

    <ul id="pageBarUl" class="am-pagination blog-pagination">
    </ul>
</div>

@{
    Html.RenderAction("GetRightView", "Home");
}


<script>
    $(function() {
        GetArticleInfo(1);
    });
</script>